<!DOCTYPE html>
<html>
<%- include('../components/header.ejs', {title: title}) %>

<body>

  <%- include('../components/navbar.ejs') %>

  <div class="row div-pad-md">
    <div class="col-sm-1"></div>
    <div class="col-sm-10 text-center text-danger">
      <h2> Reserve a Room </h2>
    </div>
    <div class="col-sm-1"></div>
  </div>

  <div class="row">
    <div class="col-md"></div>
    <div class="col-md-4 text-center">
      <div class="form-group">
        <label for="eqp"><h5>Available Rooms:</h5></label>
        <select class="form-control" name="eqp" id="eqp">
          <option>Conference Room 1 (Max. of 90)</option>
          <option>Conference Room 2 (Max. of 90)</option>
          <option>Conference Room 3 (Max. of 30)</option>
          <option>Conference Room 4 (Max. of 30)</option>
          <option>Conference Room 5 (Max. of 30)</option>
        </select>
      </div>
    </div>
    <div class="col-md">

    </div>
  </div>

  <%- include('../components/select-date.ejs') %>

  <%- include('../components/footer.ejs') %>

</body>

</html>