<!DOCTYPE html>
<html>
<%- include('components/header.ejs', {title: title}) %>

<body>

  <%- include('components/navbar.ejs') %>

  <div class="row div-pad-md">
    <div class="col-sm-1"></div>
    <div class="col-sm-10 text-center text-danger">
      <h2> Look Out for these Events</h2>
    </div>
    <div class="col-sm-1"></div>
  </div>

  <div class="row">
    <div class="col-md-1">

    </div>
    <div class="col-md-10">
      <!-- Example Cards https://getbootstrap.com/docs/4.0/components/card/ -->
      <div class="card-columns">
        <div class="card">
          <img class="card-img-top" src=" /images/placeholder.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Announcement 1</h5>
            <p class="card-text">Description for announcement 1.</p>
          </div>
        </div>
        <div class="card p-4">
          <blockquote class="blockquote mb-0 card-body">
            <p>Announcement 2</p>
            <footer class="blockquote-footer">
              <small class="text-muted">
                Someone famous in <cite title="Source Title">Source Title</cite>
              </small>
            </footer>
          </blockquote>
        </div>
        <div class="card">
          <img class="card-img-top" src=" /images/placeholder.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Announcement 3</h5>
            <p class="card-text">Description for announcement 1.!</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src=" /images/placeholder.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Announcement 4</h5>
            <p class="card-text">Description for announcement 1.!</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <img class="card-img" src=" /images/placeholder.png" alt="Card image">
        </div>
		<div class="card">
          <img class="card-img-top" src=" /images/placeholder.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Announcement 5</h5>
            <p class="card-text">Description for announcement 1.!</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src=" /images/placeholder.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Announcement 6</h5>
            <p class="card-text">Description for announcement 1.!</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src=" /images/placeholder.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Announcement 7</h5>
            <p class="card-text">Description for announcement 1.!</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-1">

    </div>
  </div>
  <%- include('components/footer.ejs') %>


</body>

</html>