<div class="row">
  <div class="col-sm-1"></div>
    <div class="col-sm-10 text-center">
      <h4>Select Time Needed</h4>
    </div>
  <div class="col-sm-1"></div>
</div>

<div class="row pad-top-sm">
  <div class="col-md-4"></div>
    <div class="col-md-4 text-center">
      <div class="form-group">
        <label for="times"><h6>Available Times:</h6></label>
        <select class="form-control" name="times" id="times">
          <option>07 a.m. - 09 a.m.</option>
          <option>09 a.m. - 11 a.m.</option>
          <option>11 a.m. - 01 p.m.</option>
		  <option>01 p.m. - 03 p.m.</option>
		  <option>03 p.m. - 05 p.m.</option>
		  <option>05 p.m. - 07 p.m.</option>
        </select>   
     </div>
    </div>
  </div>
</div>

<div class="row pad-top-sm">
  <div class="col-md-4"></div>
    <div class="col-md-4 text-center">
      <a href="/services/payment">
        <button type="submit" class="btn btn-danger">Submit Form</button>
      </a>
    </div>
  </div>
</div>